<header class="navbar navbar-default">
  <div class="container">
    <%= link_to "Inventory", root_path, class: "navbar-brand" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        
      </ul>
    </nav>
  </div>
</header>
